# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/
/build

# env files
.env*
!.env.example

# supabase
.branches
.temp

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
*.log

# outils locaux
.devflow/
